
//fuentes

$fuente_principal : 'Montserrat', sans-serif;;
$fuente_delicius : 'Itim', cursive;


//weight

$delgada: 300 ;
$regular: 400;
$bold: 700;
$black: 900;

//colores

$primario : #F87621;
$secundario : #FFBB4C;
$terciario : #F5AE90;
$cuarternario : #EE4B42;
$quinto : #B52E28;
$especial: #FFBC0D;

$azul: #0d3b66;

$celeste_claro: #3DC6FC;
$celeste : #00ABFB;
$celeste_oscuro: #31A4D1;

$verde_claro: #7ee2dd;
$verde: #4CB8B3;
$verde_oscuro: #3B9691;

$rosa_claro: #F53766;
$rosa: #FF206E;
$rosa_oscuro: #C01752;
$rosa_pastel: #fe6d73;

$violeta_claro: #933dbe;
$violeta: #752F97;
$violeta_oscuro: #491e5f;

$naranja_claro: #f1651f;
$naranja: #FF5300;
$naranja_oscuro: #c54404;

$amarillo_claro:#FEF46D;
$amarillo: #FFC127;
$amarillo_oscuro:#EADA02;

$oscuro_uno : #242423;
$oscuro_dos : #283618;
$oscuro_tres : #333533;

$claro: #fdfffc;
$oscuro: #333533;

//media queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;


//separaciones

$separacion: 5rem;
